body{
    font-family: 'Roboto', sans-serif;
}
.shrikhand{
    font-family: 'Shrikhand', sans-serif;
}
.gras{
    font-weight: bold;
    margin: 5px 0;
    font-size: 1em;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    font-size: 1.5em;
}