.emplacement{
    background-color: #dbdbdb;
    padding: 10px 0;
    &__localisation{
        display: flex;
        margin: auto;
        justify-content: center;
    }
    &__icone{
        margin-right: 20px;
        display: flex;
        align-items: center;
    }
}
.responsiveDesktop{
    @media only screen and (min-width:1100px) {
        display: flex;
    }

}
.reservation{
    text-align: center;
    background-color: #f2f2f2;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__slogan{
        margin: 30px 0;
        width: 70%;
    }
    &__p{
        width: 80%;
        margin: 30px auto;
    }
    @media only screen and (min-width:1100px) {
        width: 50%;
    }
}

.fonctionnement{
    @include accueil__centrer;
    &__titre{
        margin: auto;
        width: max-content;
    }
    &__nombre{
        background-color: $couleur-primaire;
        height: 30px;
        width: 30px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        left: -15px;
    }
    &__etape{
        display: flex;
        align-items: center;
        position: relative;
        margin: 50px 0;
        padding: 30px 0px 30px 50px;
        border-radius: 20px;
        box-shadow: lightgray 0px 7px 40px 0px;
        background-color: #f2f2f2;
        &--couleur{
            background-color: lighten($color: $couleur-primaire, $amount: 35%);
        }
        @media only screen and (min-width : 1100px) {
            width: 50%;
            margin: 50px auto;
        }
    }
    &__icone{
        font-size: 20px;
        margin-right: 20px;
        &--couleur{
            color: $couleur-primaire;
        }
    }
    @media only screen and (min-width:1200px) {
        width: 50%;
    }
}

.restaurants{
    @include accueil__centrer;
    &__titre{
        @media only screen and (min-width : 1100px) {
            width: max-content;
            margin: auto;
        }
    }
    &__card{
        width: 100%;
        height: max-content;
        margin: 30px 0;
        color: black;
        box-shadow: lightgray 0px 7px 40px 0px;
        border-radius: 20px 20px 20px 20px;
        overflow: hidden;
        position: relative;
        @media only screen and (min-width : 1100px) {
            width: 48%;
        }
    }
    &__imgDimension{
        width: 100%;
        height: 180px;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__nouveau{
        position: absolute;
        width: max-content;
        padding: 7px 15px;
        border-radius: 3px;
        top: 1em;
        right: 5%;
        background-color: $couleur-tertiaire;
        color: darken($color: $couleur-tertiaire, $amount: 50%);
    }
    &__infos{
        display: flex;
        justify-content: space-between;
        &__lien{
            width: 100%;
        }
        &__titre{
            padding: 20px;
        }
    }
    &__favori{
        height: 50px;
        width: 50px;
        padding: 20px;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        @include favori;
    }
    &__desktop{
        @media only screen and (min-width : 1100px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: auto;
            width: 90%;
        }
    }
}
